body {
    margin: 0;
    padding: 0;
    color: #BFBFBF;
    background-color: #0f0f0f;
}

header {
    color: #fff700;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../assets/img/concierto-flema.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px) brightness(0.7);
    transform: scale(1.1);
    z-index: -1;
}

.header-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-size: 20px;
}

.ricky-quote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
    padding-bottom: 0;
    overflow: hidden;
}
.ricky-quote img {
    width: 60%;
    height: auto;
    object-fit: contain;
    align-self: center;
}
.ricky-quote img::before{
    content: "";
}
.ricky-quote q {
    font-size: 1.3rem;
    color: #FFF700;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    max-width: 300px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 5vh;
}

nav ul li{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: background 0.5s;
}
nav ul li:not(.nav-contact){
    border-right: 1px solid #fff;
}
nav ul li:hover {
    transition: background 0.5s;
    background-color: #FF9100;
    transform: scale(1.005);
}

nav ul li a {
    display: block;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff700;
}


