body {margin: 0; padding: 0;}

div > div{
    height: 50px;
    width: 50px;
}
.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
}

.green-box {
    background-color: green;
}

.box-content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}